* {
    margin: 0;
    padding: 0;  
  }
  
  body{
      min-height: 100vh;
      justify-content: center;
      align-items: center;
  }

.container{
    width: 100%;
    display: flex;
    
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Card */
.card{
    width: 350px;
    height: 390px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.4s;
}

/* Card Header */
.card-header {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
}


/* Card Body */
.card-body{
    height: 90px;
    padding: 13px;
    text-align: center;
    font-family: sans-serif;
}

.card-local{
    font-size: 20px;
    margin: 10px 0;
}

.carda-titulo{
    font-size: 32px;
    margin: 10px 0;
}

/*card-footer*/
.card-footer{
    text-align: center;
    height: 45px;
    background-color: rgb(113, 14, 14);
}

.card-footer a{
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
}

/*Animação*/
.card:hover{
    transform: scale3d(1.1, 1.1,1);
}