/*NAVBAR*/
.logo-link{
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

.logo-link:hover{
    opacity: 0.7;
}

.logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #000000;
    height: 8vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 100px;
}

.menu{
    display: none;
    cursor: pointer;
}   

.bar{
    display: block;
    width: 32px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

@media(max-width:768px){
    .menu{
        display: block;
    }
    .menu.active .bar:nth-child(2){
        opacity: 0;
    }
    .menu.active .bar:nth-child(1){
        transform: translateX(8px) rotate(45deg);
    }
    .menu.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-list{
        position: absolute;
        left: -100%;
        top: 55px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #000000;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .logo-link{
        margin: 16px;
    }
    .nav-list{
        left: 0;
    }
}